.btn {
    border: 1px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    color: white;
    background-color: #116161;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 0px;
    font-size: 15px;
  }
  
.btn:hover {
    border-radius: 20px;
    color: white;
    border: 1px solid #208888;
    background-color: #0e4d4d;
  }