.container {
  text-align: center;
  display: flex;
  align-items: center;
}

.text {
  padding: 30px;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #76e0e0;
}

a:hover {
  font-style: italic;
}

.walkingSeed {
  max-width: 200px;
}

@media only screen and (min-width: 600px) {
  .container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 10px auto;
  }
}
