.fixed-bottom {
    width: 100%;
    position: relative;
    bottom: 0px;
  }

footer {
    border-top: solid 1px #208888;
    padding: 10px;
    text-align: center;
    background-color: #116161;
  }