body {
  background-color: #116161;
  color: white;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
  padding: 10px;
}
