.remove-product-x {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  direction: rtl;
}

.no-cart-items,
.center-title {
  text-align: center;
}

.qty-counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty-number {
  border: 1px solid white;
  padding: 10px;
  width: 20px;
  text-align: center;
}

.cart-card {
  background-color: #0f5959;
  border: 1px solid rgb(38, 141, 141);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
  margin: 10px;
  padding: 10px;
}

.cart-product-image {
  height: 100px;
  border: 1px solid rgb(38, 141, 141);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
  justify-content: left;
  margin: 15px;
}

.justify-cart-items {
  flex-direction: column;
  text-align: center;
}

.price-display {
  border-top: 1px dotted rgb(38, 141, 141);
  width: 250px;
}

@media only screen and (min-width: 600px) {
  .justify-cart-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .qty-counter {
    display: flex;
    align-items: center;
  }
}
